<div class="p-2">
    <h2>Manage My Book</h2>
    <hr>
    <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
        <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>

    <div class="d-flex gap-2">
        <div class="col-3">
            <img class="rounded-1" width="100%" height="100%" [src]="selectedPicture || 'https://media.istockphoto.com/id/1696167872/photo/aerial-view-of-forest-at-sunset-on-the-background-of-mountains-in-dolomites.jpg?s=1024x1024&w=is&k=20&c=sfRAnSjXlDxAAAMZ0ZtYG5GpetUCOqETKyVc0Oz6kyU=' " alt="...">
            <div class="mt-2">
                <input 
                    
                    (change)="onFileSelected($event)"
                    class="form-control"
                    type="file"
                    id="formFile"
                    accept="image/*" />
            </div>
        </div>
        <div class="col-9">
            <form class="row g-3">
                <div class="col-12">
                    <label for="title" class="form-label">Title</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="title" 
                        [(ngModel)]="bookRequest.title"
                        placeholder="Enter Title"
                        name="title"
                    >
                </div>
                <div class="col-6">
                    <label for="author" class="form-label">Author Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="author" 
                        [(ngModel)]="bookRequest.authorName"
                        placeholder="Enter Author Name"
                        name="author"
                    >
                </div>
                <div class="col-6">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="isbn" 
                        [(ngModel)]="bookRequest.isbn"
                        placeholder="Enter ISBN"
                        name="isbn"
                    >
                </div>

                <div class="col-12">
                    <label for="synopsis" class="form-label">Synopsis</label>
                    <textarea 
                        rows="4"
                        type="text" 
                        class="form-control" 
                        id="synopsis" 
                        [(ngModel)]="bookRequest.synopsis"
                        placeholder="Book synopsis"
                        name="synopsis"
                    ></textarea>
                </div>
                <div class="col-12">
                   
                    <input 
                        type="checkbox" 
                        id="shareme"
                        class="form-check-input" 
                        [(ngModel)]="bookRequest.shareable"
                        name="shareme"
                    >&nbsp;
                    <label for="shareme" class="form-check-label">Share me</label>
                </div>

                <div class="d-flex justify-content-end gap-2 col-12">
                    <button (click)="saveBook()" type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-save"></i>&nbsp;Save
                    </button>
                    <a routerLink="/books/my-books" class="btn btn-link text-danger">
                        <i class="fas fa-times"></i> &nbsp;Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>